*, *::before, *::after {
    box-sizing: border-box;
}



/********************** Layout / Estructura **********************/

body {    
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    margin:0;
    min-height: 100vh;
}

a { 
    text-decoration: none;
}

main {
    margin: auto;
    min-height: 100vh;
    width: 100%;
}

header {
    position: sticky;
    top: 0;
}

/********************** Barra de Navegacion **********************/

#primary-nav {
    align-items: center;
    display: flex;    
    background-color: #C09F80;   
    box-shadow: #bebebe 0px 1px 7px;
    justify-content: flex-end;
    padding: 10px 17px;
    width: 100%;  
}

.nav-btn {
    display:flex;    
    list-style: none;
    margin-right: 10px;
    padding: 0;
}

/********************** Estilos de fuentes **********************/

.hola {
    color: #76323F;
}

.hola h1 {    
    font-family: 'Fredericka the Great', cursive; 
    font-size: 5.1rem;
    font-weight: unset;
    margin:5px 0px;
}

.hola h2 {
    font-size: 1.1rem;
    margin:5px 0px;
}

.hola p {
    font-weight: bold;
    font-size: 1rem;
    margin:0px 0px 20px 0px;
}

.texto-contenedor {
    color: #565656;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    width: 80%;
}

.texto-contenedor h2 {
    font-size: 1.5rem;
}

.texto-contenedor p {
    font-size: 1.1rem;
}

/********************** Estilos de tarjetas **********************/

.contenedor {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    padding: 150px 0px;
    width: 100%;    
}

.presentacion {
    background-color: #D7CEC7;
}

.hola {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 56%;
}

#conocimientos, #proyectos {
    background: #f0eae6;
}

.contenedor-tarjetas {
    align-items: flex-end;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding:0;
    width: 1000px;    
}

.tarjeta {
    align-items: center;
    background: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 250px;
    justify-content: space-evenly;
    margin: 15px;
    padding:1px;
    transition-property:all;
    transition-duration: 800ms;
    width: 250px;
}

.tarjeta:hover {
    box-shadow: #ad96ab8f 0px 0px 16px;
}

.tarjeta:active {
    box-shadow: #8B5B85 0px 0px 20px 20px;
}

.tarjeta i {
    color:#C09F80;
    font-size: 8rem;
}

.tarjeta p {
    color: #565656;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.9rem;
    text-align: center;
}

.conocimiento_ok{
    color:#76323F;
}

.tarjeta .fa-html5 {
    color:#76323F;
}

.tarjeta .fa-css3-alt {
    color:#76323F;
}

.contenedor-cita {
    align-items: center;
    background-image: linear-gradient(#f0eae6, #C09F80);
    display: flex;
    flex-direction: column;
    margin:0;
    padding: 150px 0px;
    width: 100%;
}

.contenedor-cita i {
    color:#565656;
    font-size: 4rem;
    margin-bottom: 15px;
}

.cita {
    color: #565656;
    font-family: 'Fredericka the Great', cursive; 
    font-weight: unset;
    font-size: 2.5rem;
    margin:10px;
    text-align: center;
    width: 60%;
}

.autor {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem; 
}

#contacto {
    background: #565656;
}

#contacto .contenedor-tarjetas {
    align-items: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: #bebebe 0px 1px 7px;
    justify-content: space-around;
    width: 80%;
}

.contenedor-contacto {  
    color:#565656;
    height: 100%;
    width: 44%;
    padding: 15px;
}

.contenedor-contacto p {
    color: #565656;
}

.contenedor-contacto ul {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
}

.contenedor-contacto .nav-btn .btn:hover {
    box-shadow: none;
}

.contenedor-contacto .nav-btn a{
    color: #565656;
    padding: 7px;
}

.contenedor-contacto .nav-btn a:hover{
    color: #76323F;
    padding: 7px;
}

/********************** Estilos de formularios **********************/

.campos-obligatorios {
    font-size: 0.7rem;
    text-align: end;
}

.formulario {
    width: 100%;
}

.formulario-angosto {
    display:flex;
    margin: 9px 0px;
    width: 100%;
}

.formulario-ancho {
    display:flex;
    flex-direction: column;
    margin: 9px 0px;
}

input, textarea {
    background-color: #f0eae6;
    border: solid 1px transparent;
    border-radius: 10px;
    margin: 8px 1px 8px 0px;
    padding: 7px;
    width: 99.9%;
}

input:focus, textarea:focus {
    border: solid 0.2px #565656;
    outline: none;
}

input[type="email"]{
    width: 100%;
}

textarea {
    height: 115px;
}

input::placeholder, textarea::placeholder { 
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

label {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.8rem;
}

.formulario-angosto label {
    width: 99%
}

/********************** Estilos de img **********************/

.img-hola {
    display: flex;
    width: 25%;
}

.img-hola img {
    width:100%;
}

.img-proyecto {
    width: 70%;
}

.img-proyecto img {
    width:100%;
    overflow: hidden;
}

/********************** Estilos de botones **********************/

.btn {    
    border: solid 0.3px transparent;
    border-radius: 13px;
    color: #565656;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px 7px;
    padding: 4px 0px;
    transition-property:all;
    transition-duration: 800ms;
}

.btn a {
    background: transparent;
    color: #565656;
    padding: 0px 38px;
}

.btn-nav {    
    box-shadow:#977d64 0px 0px 8px;
    text-align: center;
    width: 165px;
}

.btn:hover{
    box-shadow: #977d64 0px 0px 16px;
}

.btn:active {
    box-shadow: #977d64 0px 0px 20px 20px;
}

.btn-contactame {
    margin: 15px;
}

.btn-footer {
    color:#3e373e;
    padding: 8px 8px;
}

.btn-footer:hover {
    color:white;
}

.icono-footer {
    border: solid 0.5px #3e373e;
    border-radius: 25px;
    color:#3e373e;
    margin: 15px;
    padding: 13px 13px;
}

.icono-footer:hover {
    background:white;
    color: #C09F80; 
    border: solid 0.5px white;
}

/********************** Estilos del footer **********************/

.footer {
    align-items: center;
    background-color: #C09F80;
    color: #3e373e;
    display: flex;
    flex-direction: column;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    padding: 25px 10px;
    width: 100%;
}

.footer .nav-footer {
    align-items: center;
    display: flex;
    flex-direction: column;
}

/********************** Breakpoints **********************/ 

@media (max-width:1185px) {
    #contacto .btn {
        padding: 8px 2px 8px 2px;
    }
    .contenedor-tarjetas {
        justify-content: space-evenly;
    }
}

@media (max-width:1016px) {    
    #contacto .contenedor-tarjetas {
        height: 100%;
        flex-direction: column;
    }
    .contenedor-contacto {
        width: 70%;
    }
}

@media (max-width:871px) {
    .hola {
        width: 74%;
    }
    .img-hola {
        display: none;
    }
}

@media (max-width:650px) {
    label {
        width: 100%;
    }
    .formulario-angosto {
        flex-wrap: wrap
    }    
    #primary-nav {
        display: none;
    }
    #contacto li {
        font-size: 0.8rem;
    }  
}

@media (max-width:570px) {
    #contacto li {
        font-size: 0.7rem;
    }
}